<section id="product-details">
    <div class="back-button">
        <a href="#" data-route="/shop" id="back-button">Volver</a>
    </div>
    <div class="details-container">
        <!-- IMG DEL PRODUCTO -->
        <div class="product-image">
            <img id="main-image" src="" alt="Imagen del producto">
        </div>

        <!-- INFO DEL PRODUCTO -->
        <div class="product-info">
            <h1 id="product-name"></h1>
            <p id="product-title"></p>
            <h2 id="product-price">- €</h2>

            <h3>Selecciona un Color:</h3>
            <div class="color-selector" id="color-selector">
                <!-- BOTONES DE COLOR -->
            </div>

            <h3>Selecciona una Talla:</h3>
            <div class="size-options" id="size-options">
                <!-- BOTONES DE TALLA -->
            </div>
        </div>
    </div>
</section>