<section id="home">
    <!-- CARRUSEL -->
    <div class="carousel-fullscreen" id="featured-carousel">
        <button class="carousel-button left" onclick="prevSlide()">❮</button>
        <div class="carousel-content" id="carousel-content">
            <!-- PRODUCTOS DEL CARRUSEL -->
        </div>
        <button class="carousel-button right" onclick="nextSlide()">❯</button>
    </div>

    <!-- SOBRE NOSOTROS -->
    <div class="about-us">
        <h2>Sobre Nosotros</h2>
        <p>En Softnest nos dedicamos a ofrecer productos textiles de la mejor calidad para tu hogar. Nuestros productos son fabricados con los mejores materiales y con los más altos estándares de calidad. 
            ¡Descubre nuestra colección y dale un toque especial a tu hogar! </p>
    </div>

    <!-- PRODUCTOS RECIENTES -->
    <div class="recent-products">
        <h2>Visto Recientemente</h2>
        <div class="recent-cards" id="recent-products">
            <!-- PRODUCTOS DE RECIENTES -->
        </div>
    </div>
</section>
