<section class="auth-container">
    <div id="register-view" class="auth-view active">
        <h2>Registro</h2>
        <div class="form-group">
            <label for="register-username">Nombre de usuario</label>
            <input type="text" id="register-username" name="username" placeholder="Tu nombre de usuario">
        </div>
        <div class="form-group">
            <label for="register-email">Correo electrónico</label>
            <input type="email" id="register-email" name="email" placeholder="Tu correo">
        </div>
        <div class="form-group">
            <label for="register-password">Contraseña</label>
            <input type="password" id="register-password" name="password" placeholder="Tu contraseña">
        </div>
        <div class="form-group">
            <label for="register-confirm-password">Confirmar Contraseña</label>
            <input type="password" id="register-confirm-password" name="confirm-password"
                placeholder="Confirma tu contraseña">
        </div>
        <p>¿Ya tienes una cuenta? <a href="#" data-route="/login">Iniciar Sesión</a> </p>
        <button id="btnRegister">Registrarse</button>
    </div>

</section>