<section class="auth-container">
    <div id="register-view" class="auth-view active">
        <h2>Registro</h2>
        <form id="register-form">
            <div class="form-group">
                <label for="register-username">Nombre de usuario</label>
                <input type="text" id="register-username" name="username" placeholder="Tu nombre de usuario" required>
            </div>
            <div class="form-group">
                <label for="register-email">Correo electrónico</label>
                <input type="email" id="register-email" name="email" placeholder="Tu correo" required>
            </div>
            <div class="form-group">
                <label for="register-password">Contraseña</label>
                <input type="password" id="register-password" name="password" placeholder="Tu contraseña" required>
            </div>
            <div class="form-group">
                <label for="register-confirm-password">Confirmar Contraseña</label>
                <input type="password" id="register-confirm-password" name="confirm-password" placeholder="Confirma tu contraseña" required>
            </div>
            <button type="submit">Registrarse</button>
        </form>
    </div>
</section>
