<section class="shop-container">
    <!-- MENU LATERAL -->
    <aside id="sidebar">
        <div id="title" style="display: block;">
            <h2>Familias</h2>
        </div>
        <div id="back-button" style="display: none;">
            <button id="go-back">← </button>&nbsp;&nbsp;&nbsp;<h2>SubFamilias</h2>
        </div>
        <ul id="menu-items">
            <!-- FAMILIAS Y SUBFAMILIAS -->
        </ul>
    </aside>

    <!-- SECCION DE PRODUCTOS -->
    <section id="products-section">
        <div id="products">
            <!-- PRODUCTOS CARGADOS -->
        </div>
    </section>
</section>