<section class="shop-container">
    <!-- Menú lateral para las familias/subfamilias -->
    <aside id="sidebar">
        <div id="title" style="display: block;">
            <h2>Familias</h2>
        </div>
        <div id="back-button" style="display: none;">
            <button id="go-back">← </button>&nbsp;&nbsp;&nbsp;<h2>SubFamilias</h2>
        </div>
        <ul id="menu-items">
            <!-- Aquí se cargarán las familias o subfamilias dinámicamente -->
        </ul>
    </aside>

    <!-- Sección principal para mostrar los productos -->
    <section id="products-section">
        <div id="products">
            <!-- Los productos se cargarán aquí dinámicamente -->
        </div>
    </section>
</section>